.lblFieldPairV {    float: left; margin-bottom: 5px!important;}
.qw{ width: 15% !important;}
table{table-layout:fixed !important;}
table tr td, table tr th{word-wrap:break-word !important;} 
.one_third .lblFieldPair .lbl {
    float: left;
    line-height: 18px;
    width: 44% !important;
}
.one_third .lblFieldPair .input {
    float: left;
    margin-left: 0 !important;
    padding-left: 10px;
    width: 48% !important;
}

.panels .hdexpanded .rightlink a:link, .panels .hdexpanded a:hover, .panels .hdexpanded a:visited {
     color:#0095C7!important;
	}
#alertMsg .successModule{width:75% !important; }
.eas {
    font-size: 11px !important;
    margin-right: 5px;
    padding: 4px 5px;
}
.easAlertRed {
    background: none repeat scroll 0 0 #FB0208 !important;
    color: #FFFFFF;
    text-align: center;
}
.mlxlgalert{margin-left:220px;}
ul.items {
    list-style-type: none;
	margin-left:5px;
	margin-top:5px;
}

html.ie6  .Oth_cl{
    width: 26.55%;
}
html.ie6  .inputm {width:90px !important}
html.ie7 .inputm{width:95px !important;}

.one_h_lastcol {
    width: 12% !important;
}

.one_h_firstcol {
    width: 65% !important;
}


